{% include "header.html" %}

<body>

<form method="POST">
	<input type="text" name="anzahl" placeholder="Anzahl Personen">
	<button type="submit">Jetzt berechnen</button>
</form>


<ul>
{% for key, value in rezepte.items() %}
	<li>
		{{ key }}<br />
		{% if key == 'Zutaten' %}

			{% for zutat, menge in value.items() %}
				{{ zutat }}: {{ menge }}<br />
			{% endfor %}

		{% else %}
			{{ value }}
		{% endif %}
	</li>
{% endfor %}
</ul>

<ul>
{%for key, value in apfelkuchen.items(): %}
    <li>
    {% key + ": " + str(anzahl * value[0]) + value[1] %}
</li>
{% endfor %}
</ul>



</body>

{% include "footer.html" %}