{% include "header.html" %}

<body>

<!---cards--->
<!--Ravioli: https://www.bbc.co.uk/food/recipes/spinach_and_ricotta_21673-->
<!--wird im Datensatz main.py ein Rezept hinzugefügt, wird durch diese for-Schlaufe autoatisch eine neue "Rezeptkarte auf der Startseite erstellt-->
<div class="row">
{% for name, rezept in rezepte.items() %} <!---Rezeptkarte auf Startseite einfügen--->
  <div class="col-6">
<div class="card">
  <img src="{{ url_for('static', filename=rezept['Bild']) }}"  class="card-img-top" alt="..."> <!--Rezeptkarte Bild einfügen-->
  <div class="card-body">
    <h5 class="card-title">{{ name }}</h5> <!---Rezeptkarte Rezeptname einfügen--->
    <p class="card-text">{{ rezept["Beschreibung"]}}</p> <!---Rezeptkarte Kurzbeschreibung einfügen--->
    <a href="rezept/{{ name }}" class="btn btn-primary">Zum Rezept</a> 
  </div>
</div>
</div>
{% endfor %}
	
	

</div>
</body>






{% include "footer.html" %}

