{% include "header.html" %}
<!--Rezeptseite erstellen:-->
<body>
<br>

<div class="row">
<div class="col-6">
<h1>{{ rezept["Name"] }}</h1>

<br>

<!---Anzahl Personen für Rezept anpassen-->
<form method="POST"> 
	<input type="text" name="anzahl" placeholder="Anzahl Personen">
	<button type="submit">Jetzt berechnen</button>
</form>

<br>

<h3>Zutaten</h3> 
<ul>
{% for zutat, menge in rezept["Zutaten"].items() %} 
	{% if anzahl %}
		<li>{{zutat}}: {{ menge[0] * anzahl |int }} {{ menge[1] }}</li> <!--menge[0] = Mengenangabe aus Dictionary holen, anzahl = Eingabe (Anzahl Personen) Berechnung: Menge aus Rezept * Anzahl Personen die man eingegeben hat--->
	{% else %}
		<li>{{zutat}}: {{ menge[0] }} {{ menge[1] }}</li> <!--Falls keine Berechnung für Anzahl Personen getätigt wurde - kein POST (z.B. wenn man frisch auf das Rezept klickt) wird das Rezept für eine Person angezeigt -->
	{% endif %}
	
{% endfor %}
</ul>
</div>

<h1>{{rezept["Bemerkung"]}}</h1>

<div class="col-6">
<img src="{{ url_for('static', filename=rezept['Bild']) }}"  class="card-img-top" alt="..."> <!--Anzeige des Rezeptbild-->
</div>
</div>

<h3>Anleitung</h3>
<ol>
{% for anleitung in rezept["Anleitung"] %} <!---richtige Anleitung aus Daten holen --> 
	<li>{{anleitung}}</li> <!--Ausgabe Rezept-Anleitung-->
{% endfor %}
</ol>

<br>
</body>



{% include "footer.html" %}