{% include "header.html" %}

<body>
<br>

<div class="row">
<div class="col-6">
<h1>{{ rezept["Name"] }}</h1>

<br>

<form method="POST">
	<input type="text" name="anzahl" placeholder="Anzahl Personen">
	<button type="submit">Jetzt berechnen</button>
</form>

<br>

<h3>Zutaten</h3>
<ul>
{% for zutat, menge in rezept["Zutaten"].items() %}
	{% if anzahl %}
		<li>{{zutat}}: {{ menge[0] * anzahl |int }} {{ menge[1] }}</li>
	{% else %}
		<li>{{zutat}}: {{ menge[0] }} {{ menge[1] }}</li>
	{% endif %}
	
{% endfor %}
</ul>
</div>
<div class="col-6">
<img src="{{ url_for('static', filename=rezept['Bild']) }}"  class="card-img-top" alt="...">
</div>
</div>

<h3>Anleitung</h3>
<ol>
{% for anleitung in rezept["Anleitung"] %}
	<li>{{anleitung}}</li>
{% endfor %}
</ol>

<br>
</body>



{% include "footer.html" %}